footer{
    text-align: center;
    align-content: center;

}

/* this can centre a div inside a container */
.flex-all-centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this makes the image and text next to it horizontally equal */
.pic-textAlign{
    display: flex;
    align-items: center;
}